* {
    margin: 0;
    padding: 0;
}

html, body, aside, main {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

aside {
    float: left;
    width: 220px;
    box-sizing: border-box;
    padding: 15px;
    background-color: #fbfbfb;
    border-right: 1px solid #eee;
}

main {
    overflow: scroll;
}

hr {
    margin: 10px auto;
}

.section {
    margin: 10px 0;
}

.links li {
    list-style: none;
    height: 1.5em;
}

form > div {
    margin-bottom: 10px;
}

form > div.center {
    text-align: center;
}

form button {
    padding: 7px 10px;
    font-size: 16px;
    line-height: 0.8em;
}

form select {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 5px 3px;
    width: 100%;
}

form label {
    margin-right: 5px;
    line-height: 28px;
}

form .jslider {
    margin-top: 10px;
}

.hidden {
    display: none;
}

svg:not(:root) {
    overflow-x: visible;
    overflow-y: visible;
}

.dot {
    stroke: #000;
}

text.active {
    fill: red;
}

text.axis-legend {
    font-size: 22px;
}

text.center {
    font: bold 16px sans-serif;
}

.chart .axis text,
.chart .legend {
    font: 10px sans-serif;
}

.plot .axis text,
.plot .legend {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

/* Graph */

.node {
    stroke: #fff;
    stroke-width: 1.5;
}

.node > text {
    font-family: sans-serif;
    stroke: none;
    fill: white;
    text-shadow: black 0.1em 0.1em 0.2em,
                 black 0.0em 0.0em 0.3em,
                 black 0.0em 0.0em 0.3em;
    z-index: 1000;
}

.link {
    stroke: #666;
    stroke-opacity: .8;
}

/* D3 tip */

.d3-tip {
    line-height: 1.3;
    font-size: 12px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: center;
    max-width: 200px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}